.trs-card {
   border: 2px solid black;
   padding: 1em;
   margin: 1em auto;
   width: 60%;
   text-align: center;
   background-color: white;

   p {
      font-weight: bold;
   }

   span {
      font-weight: normal;
   }

   button {
      border: 2px solid black;
      padding: 0.5em 2em;
      margin: 0 0.5em;
      font: inherit;
      cursor: pointer;

      &:hover {
         background-color: black;
         color: white
      }
   }
}
